.el-icon-dashboard{
  background: url('~@/assets/icon/dashboard.png') no-repeat center 0px;
}

.el-icon-equipment{
  background: url('~@/assets/icon/equipment.png') no-repeat center 0px;
}

.el-icon-Report{
  background: url('~@/assets/icon/Report.png') no-repeat center 0px;
}


.el-icon-Record{
  background: url('~@/assets/icon/Record.png') no-repeat center 0px;
}

.el-icon-Business{
  background: url('~@/assets/icon/Business.png') no-repeat center 0px;
}

.el-icon-User{
  background: url('~@/assets/icon/User.png') no-repeat center 0px;
}

.el-icon-Account{
  background: url('~@/assets/icon/Account.png') no-repeat center 0px;
}